---
title: Le Wagon Middleman boilerplate
---

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <% data.posts.each do |id, post| %>
        <h2><%= post.title %></h2>
        <p><%= post.author %></p>
        <p><%= post.extract %></p>
        <p><%= link_to 'Read more', "/posts/#{id}.html" %></p>
      <% end %>
    </div>
  </div>
</div>
